[Desktop Entry]
Type=Application
Terminal=true
Exec=/home/ubuntu/Desktop/omni-isaac-gym-envs.sh
Name=Omni Isaac Gym
Icon=/home/ubuntu/Pictures/isaacsim-icon-shell.png
