[Desktop Entry]
Type=Application
Terminal=true
Exec=/home/ubuntu/Desktop/orbit.sh
Name=Isaac Orbit
Icon=/home/ubuntu/Pictures/isaacsim-icon-shell.png
