[Desktop Entry]
Type=Application
Terminal=true
Exec={{ launch_scripts_dir }}/isaacsim-shell.sh
Name=Isaac Sim Shell
Icon=/home/{{ ansible_user }}/Pictures/isaacsim-icon-shell.png
